.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  body {
    background-image: url("temp.jpg");
  }
  
  .box {
    width: 500px;
    padding: 30px;
    background-color: white;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  label {
    font-size: 24px;
    margin-right: 10px;
  }
  
  input {
    font-size: 24px;
    padding: 5px;
    width: 100px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  select {
    font-size: 24px;
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    font-size: 24px;
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .result {
    font-size: 36px;
    font-weight: bold;
    color: black;
    text-align: center;
  }
  